[submodule "themes/iris-theme"]
	path = themes/iris-theme
	url = https://github.com/peaceiris/hugo-theme-iris.git
[submodule "themes/themes/hugo-theme-cleanwhite-rsy"]
	path = themes/themes/hugo-theme-cleanwhite-rsy
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "WhiteWolf2077.github.io"]
	path = WhiteWolf2077.github.io
	url = https://github.com/WhiteWolf2077/WhiteWolf2077.github.io.git
	branch = master
